# ------------------------
# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
env/
*.log

# ------------------------
# OS/editor junk
.DS_Store
*.swp
.vscode/
.idea/

# ------------------------
# SLURM logs & local runs
slurm-*.out
slurm-*.err
*.out
*.err

# ------------------------
# Datasets & samples
datasets/*
!datasets/**/
!datasets/**/*.md
!datasets/**/.gitkeep

samples/*
!samples/**/
!samples/**/*.md
!samples/**/.gitkeep

# ------------------------
# Checkpoints
checkpoints/*
!checkpoints/.gitkeep

# ------------------------
# Large/binary files
*.pt
*.pth
*.ckpt
*.h5
*.hdf5
*.keras
*.onnx
*.npz

# ------------------------
# Docker build artifacts
dist/
build/

# Exclude dataset images
datasets/unconditional/*.png
datasets/unconditional/
